[Service]
Environment="CHARIOT_LOG=info"
# EnvironmentFile=
ExecStart=/usr/bin/chariot-shim --host-cri /run/containerd/containerd.sock --xpu-cri  http://192.168.100.2:9090